server:
    port: 8080

spring:
    application:
        name: sandbox
    datasource:
        url: jdbc:mariadb://localhost:3306/sandbox_db?createDatabaseIfNotExist=true
        username: root
        password: 123456
        driver-class-name: org.mariadb.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MariaDBDialect
                '[format_sql]': true
springdoc:
    api-docs:
        path: /v3/api-docs
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        operations-sorter: method
        tags-sorter: alpha
        display-request-duration: true
        csrf:
            enabled: false